@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');

body {
    display: flex;
    flex-direction: column;
}
img {
    width: 70%;
    border: solid 2px black;
    margin: 0 auto;
}
.primary {
    background-color: rgb(105, 117, 101);
    color: rgb(231, 231, 231);
}
.second {
    background-color: rgb(30, 32, 30);
    color: white;
}

.biofont {
    font-family: BioRhyme;
}
p, h1,h2{
    max-width: 40%;
    margin: 1rem auto .5rem auto;
}

footer {
    margin: 1rem auto 1rem auto;
    font-size: small;
}