body {
    font-family: Roboto;
    margin: auto;
}
header, main, footer {

    background-color: rgb(123, 192, 248);
    min-height: 2rem;
    max-width: 640px;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    border:thin rgb(128, 125, 125);
    
}

main {
    padding: .001rem;
}
section {
    background-color: aliceblue;
    margin: 1rem;
}
h1, h2{
    margin-top: 1px;
    margin-bottom: 1px;
    padding: .5rem;
}
p {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: .5rem;
}

