@media screen and (min-width: 500px) {
    header {
        color: white;
        background-color: black;
        
    }
    main {
        display: flex;
        flex-direction: row;
    }
    .grid {
        display: grid;
        align-items: center;
    }
}